@use "../partials/variables";

html{
   scroll-behavior: smooth;
}

body{
   font-size: 125%;
   background-color: variables.$background;
}

.wrapper{
   width: 95%;
   margin: 0 auto;
   max-width: 1500px;
}

h1{
   text-transform: uppercase;
   font-size: 200px;
}