@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

//Colors
$bg: #C5E4E7;
$h1Color: #426567;
$calculatorText: #677274;
$blueishgreenish: #1A484C;

//Fonts
$mainFont: 'Space Mono', monospace;